:root {
  /* 通用 */
  --epe-color-primary: rgb(64, 158, 255);
  --epe-color-text-1: #303133;
  --epe-color-text-2: #606266;
  --epe-color-text-3: #909399;
  --epe-color-text-4: #a8abb2;
  --epe-color-border: #d4d7de;
  /* 组件 */
  --epe-color-form-editor-button: rgba(64, 158, 255, 0.7);
  --epe-color-form-editor-button-text: var(--epe-color-text-1);
  --epe-color-form-editor-mask: rgba(64, 158, 255, 0.3);
}
